/* 
.AuthorProfileCard{
    width: 100%;
    z-index: 22222;
    margin-top: 5rem;
}

.AuthorProfileCard_box{
    width: 80%;
    margin:  0 auto;

    display: grid;
    grid-template-columns: 1fr 4fr 1.3fr;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    gap: 3rem;
}

.AuthorProfileCard_box_img_img{
    border-radius: 1rem;
}

.AuthorProfileCard_box_info h2{
    font-size: 2.5rem;
    line-height: 0;
    margin-top: -.5rem;
}

.AuthorProfileCard_box_info_address{
    margin-top: -1rem;
}

.AuthorProfileCard_box_info_address input{
    outline: none;
    width: 35%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.AuthorProfileCard_box_info_address_icon{
    transition:  all .3s ease-in;
}

.AuthorProfileCard_box_info_address_icon:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--icons-color);
}

.AuthorProfileCard_box_info p{
    font-size: 1.1rem;
    line-height: 1;
    width: 90%;
}

.AuthorProfileCard_box_info_social{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}


.AuthorProfileCard_box_info_social a{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: .5rem;
    border: 1px solid var(--icons-color);
    transition: all .3s ease-in;
    cursor: pointer;
}

.AuthorProfileCard_box_info_social a:hover{
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg-color);
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
}

.AuthorProfileCard_box_share{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 2rem;
    position: relative;
}

.AuthorProfileCard_box_share_icon{
    font-size: 2.5rem;
    cursor: pointer;
}

.AuthorProfileCard_box_share_upload{
    position: absolute;
    padding: .5rem;
    width: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 2rem;
    top: 5rem;
    z-index: 1111111;
}


.AuthorProfileCard_box_share_upload p{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
    padding: .3rem .5rem;
}

.AuthorProfileCard_box_share_upload p:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
}

.AuthorProfileCard_box_share_upload span{
    font-size: 1.5rem;
}

.AuthorProfileCard_box_share_report{
    position: absolute;
    padding: .5rem;
    width: 10rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 5rem;
    top: 4rem;
    z-index: 111111;
}

.AuthorProfileCard_box_share_report p{
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 35em) {
    .AuthorProfileCard_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: .5rem .5rem 1.5rem;
        gap: 1rem;
    }
    .AuthorProfileCard_box_img{
        width: 50%;
    }

    .AuthorProfileCard_box_info h2{
        font-size: 2rem;
    }

    .AuthorProfileCard_box_info_address input{
        width: 85%;
    }

    .AuthorProfileCard_box_info p{
        font-size: 1rem;
        line-height: 1.4;
        width: 90%;
    }
    .AuthorProfileCard_box_info_social{
        padding:  0 2rem;
    }

    .AuthorProfileCard_box_share{
        grid-column: 1 / -1;
        grid-row:  1 / -1;
        padding: 1rem;
        gap: 1rem;
    }

    .AuthorProfileCard_box_share_icon{
        font-size: 2rem;
    }

    .AuthorProfileCard_box_share_upload{
        left: 9rem;
    }

    .AuthorProfileCard_box_share_report{
        left: 9rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .AuthorProfileCard_box{
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
} */

.AuthorProfileCard {
    width: 100%;
    z-index: 22222;
    margin-top: 5rem;
}

.AuthorProfileCard_box {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1.3fr;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    gap: 3rem;
}

.AuthorProfileCard_box_img_img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.AuthorProfileCard_box_info h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: -0.5rem;
}

.AuthorProfileCard_box_info_address {
    margin-top: -1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.AuthorProfileCard_box_info_address input {
    outline: none;
    width: 35%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.AuthorProfileCard_box_info_address_icon {
    transition: all 0.3s ease-in;
}

.AuthorProfileCard_box_info_address_icon:hover {
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--icons-color);
}

.AuthorProfileCard_box_info p {
    font-size: 1.1rem;
    line-height: 1.2;
    width: 90%;
}

.AuthorProfileCard_box_info_social {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.AuthorProfileCard_box_info_social a {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: 0.5rem;
    border: 1px solid var(--icons-color);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.AuthorProfileCard_box_info_social a:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg-color);
    border: 1px solid var(--icons-color);
    color: var(--icons-color);
}

.AuthorProfileCard_box_share {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 2rem;
    position: relative;
}

.AuthorProfileCard_box_share_icon {
    font-size: 2.5rem;
    cursor: pointer;
}

.AuthorProfileCard_box_share_upload {
    position: absolute;
    padding: 0.5rem;
    width: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 2rem;
    top: 5rem;
    z-index: 1111111;
}

.AuthorProfileCard_box_share_upload p {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    padding: 0.3rem 0.5rem;
}

.AuthorProfileCard_box_share_upload p:hover {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 0.2rem;
}

.AuthorProfileCard_box_share_upload span {
    font-size: 1.5rem;
}

.AuthorProfileCard_box_share_report {
    position: absolute;
    padding: 0.5rem;
    width: 10rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    left: 5rem;
    top: 4rem;
    z-index: 111111;
}

.AuthorProfileCard_box_share_report p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* RESPONSIVE STYLES */

/* Mobile: < 560px */
@media screen and (max-width: 35em) {
    .AuthorProfileCard_box {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem 1rem 1.5rem;
        gap: 1rem;
    }

    .AuthorProfileCard_box_img {
        width: 80%;
        margin: 0 auto;
    }

    .AuthorProfileCard_box_info h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .AuthorProfileCard_box_info_address input {
        width: 85%;
        text-align: center;
    }

    .AuthorProfileCard_box_info p {
        font-size: 1rem;
        line-height: 1.4;
        width: 100%;
        text-align: center;
    }

    .AuthorProfileCard_box_info_social {
        justify-content: center;
        padding: 0;
    }

    .AuthorProfileCard_box_share {
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }

    .AuthorProfileCard_box_share_icon {
        font-size: 2rem;
    }

    .AuthorProfileCard_box_share_upload {
        left: 50%;
        transform: translateX(-50%);
        top: 4rem;
    }

    .AuthorProfileCard_box_share_report {
        left: 50%;
        transform: translateX(-50%);
        top: 3.5rem;
    }
}

/* Tablet: 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .AuthorProfileCard_box {
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        padding: 2rem;
    }

    .AuthorProfileCard_box_img {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 561px) and (max-width: 768px) {
     .AuthorProfileCard_box {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem 1rem 1.5rem;
        gap: 1rem;
    }

    .AuthorProfileCard_box_img {
        width: 60%;
        margin: 0 auto;
    }

    .AuthorProfileCard_box_info h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .AuthorProfileCard_box_info_address input {
        width: 85%;
        text-align: center;
    }

    .AuthorProfileCard_box_info p {
        font-size: 1rem;
        line-height: 1.4;
        width: 100%;
        text-align: center;
    }

    .AuthorProfileCard_box_info_social {
        justify-content: center;
        padding: 0;
    }

    .AuthorProfileCard_box_share {
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }

    .AuthorProfileCard_box_share_icon {
        font-size: 2rem;
    }

    .AuthorProfileCard_box_share_upload {
        left: 50%;
        transform: translateX(-50%);
        top: 4rem;
    }

    .AuthorProfileCard_box_share_report {
        left: 50%;
        transform: translateX(-50%);
        top: 3.5rem;
    }
}

/* Small Desktop: 1025px - 1440px */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .AuthorProfileCard_box {
        grid-template-columns: 1fr 3fr 1.3fr;
        padding: 2rem;
        gap: 2rem;
    }
    .AuthorProfileCard_box_img {
        width: 85%;   /* slightly bigger for emphasis */
    }
}
