/* 

.Brand{
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 7rem;
}

.Brand_box{
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 5rem;
    align-items: center;
}

.Brand_box_left h1{
    font-size: 5rem;
    line-height: 1.3;
    font-weight: bolder;
}

.Brand_box_left p{
    font-size: 1.3rem;
    margin-top: -2rem;
}

.Brand_box_left_btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

@media screen and (max-width: 35em) {
    .Brand_box{
        grid-template-columns: 1fr;
    }

    .Brand_box_left h1{
        font-size: 2.5rem;
    }
    .Brand_box_left p{
        margin-top: -.5rem;
    }
} */


.Brand {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 7rem;
}

.Brand_box {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 5rem;
    align-items: center;
}

.Brand_box_left h1 {
    font-size: 5rem;
    line-height: 1.3;
    font-weight: bolder;
}

.Brand_box_left p {
    font-size: 1.3rem;
    margin-top: -2rem;
}

.Brand_box_left_btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

/* MOBILE: <560px */
@media screen and (max-width: 35em) {
    .Brand_box {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .Brand_box_left h1 {
        font-size: 2.5rem;
    }

    .Brand_box_left p {
        font-size: 1.1rem;
        margin-top: -0.5rem;
    }

    .Brand_box_left_btn {
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .Brand_box_right img {
        width: 100%;
        height: auto;
    }
}

/* TABLET: 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .Brand_box {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .Brand_box_left h1 {
        font-size: 3rem;
    }

    .Brand_box_left p {
        font-size: 1.2rem;
        margin-top: 0;
    }
}

/* SMALL DESKTOP: 1025px - 1440px */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .Brand_box {
        grid-template-columns: 1.3fr 2fr;
        gap: 4rem;
    }

    .Brand_box_left h1 {
        font-size: 4rem;
    }

    .Brand_box_left p {
        font-size: 1.25rem;
    }
}

/* Ensure images are responsive */
.Brand_box_right img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.Brand_box_left img {
    max-width: 100%;
    height: auto;
}
